/*Стили для всего body*/
body{
	background: #fefefe;
	margin: 0;
	padding: 0;
	font:1em/1.3em Arial, Tahoma, "Trebuchet MS", sans-serif;
	color: #272727;
}
/*Конец Стили для всего body*/

/*Стили для верхнего меню*/
 .wrapper{ /*внутренние отступы, чтобы контент не прижимался к бокам экрана*/
  padding-left: 15px;
  padding-right: 15px;

  max-width: 1170px;/*максимальная ширина сайта*/
  margin: 0px auto 0px auto;/*выравнивание по центру*/


 }

 .navigation{/*div блок, чтобы регулировать меню в Flexbox*/
  display: flex;/*применяется Flexbox*/
  align-items: center;/*блоки становятся по центру, не растягиваются*/
  justify-content: space-between;/* распределение блоков равномерно, от начала главной оси и до конца*/
  padding-top: 5px;/*внутренний отступ сверху*/
  border-top: 1px solid black;/*окантовка*/
	border-left: 1px solid black;/*окантовка*/
	border-right: 1px solid black;/*окантовка*/
	background: url(img/navigation.png);
  /*padding-bottom: 30px;/*внутренний отступ снизу*/
 }

 .nav{/*ul блок*/
  display:flex;/*выстраиваем элемент, чтобы внутри работал технология flex-box*/
  list-style-type: none; /*убираем стандартный стиль ul элемента(проподают точки)*/
  padding-left: 0;/*убираем внутренний стандартный отступ*/
  font-weight: 700;/*задаём размер шрифта*/
  text-transform: uppercase;/*все буквы становятся заглавными*/
  margin-bottom: 86px;/*удаляем отступы снизу*/
	margin-right: 15px;/*удаляем отступы снизу*/
 }

 .nav li{/*li блок*/
   padding-left: 23px;/*внутренний отступ*/
   margin-left: 22px;/*внешний оступ*/
   position: relative;/*Относительное позиционирование сдвигает элемент относительно его обычного положения.*/
 }

 .nav li:first-child{/*находит любой элемент, являющийся первым в своём родителе и сбрасываем отступы*/
   padding-left: 0;/*внутренний отступ*/
   margin-left: 0;/*внешний оступ*/
 }

.nav li::before{/*создаёт псевдоэлемент(вертикаль), который является первым потомком выбранного элемента*/
  content: "";/*используется для добавления косметического содержимого в элемент с помощью свойства content*/
  width: 2px;/*ширина*/
  height: 100%;/*высота*/
  background-color: #FFFFFF;/*цвет фона*/
  display: block;/*Элемент показывается как блочный.*/
  position:absolute;/*расположен относительно его ближайшего относительно позиционированного предка*/
  left: 0;/*сдвигаем относительно предка*/
}

.nav li:first-child::before{/*находит любой элемент(вертикаль), являющийся первым в своём родителе.*/
  display: none;/*не показываем элемент*/
}

.nav li a{
   text-decoration: none;/*убираем подчеркивание ссылок а*/
   color: #FFFFFF;/*цвет ссылки*/
 }
.nav li a:hover{ /*псевдокласс для замены цветы при наведении*/

	color: #FFB200;
}
/*Конец Стили для верхнего меню*/

/*Стили для основного контента*/


img{
	margin: 0;
	padding: 0;
	vertical-align: middle;
	border: none;
}

.wrapper_small{
	display: flex;/*применяется Flexbox*/
  align-items: center;/*блоки становятся по центру, не растягиваются*/
  justify-content: space-between;/* распределение блоков равномерно, от начала главной оси и до конца*/
  padding-top: 5px;/*внутренний отступ сверху*/
  border: 1px solid black;
	background: url(img/wrappersmall.jpg);
	/*background-attachment: fixed;  фиксация заднего фона*/
}

.wrapper_footer_small{

	display: flex;/*применяется Flexbox*/
  align-items: center;/*блоки становятся по центру, не растягиваются*/
  justify-content: space-between;/* распределение блоков равномерно, от начала главной оси и до конца*/
  padding-top: 5px;/*внутренний отступ сверху*/

	border-left: 1px solid black;/*окантовка*/
	border-right: 1px solid black;/*окантовка*/
  border-bottom: 1px solid black;/*окантовка*/

	background: url(img/footer1.jpg);
	/*background-attachment: fixed;  фиксация заднего фона*/
}

.content{
  width: 960px;
  height: auto;
  margin: 0px auto;
	padding-bottom: 20px;
	/*  border: 1px solid black;окантовка*/
}
.main{
  /*max-width: 1000px; /*максимальная ширина*/
  margin: 15px 30px auto;
	border: 1px solid #ccc;
	padding: 10px;
	background: #fff;
	border-radius: 10px;
  flex-wrap: wrap;

/*	rgba(131,50,58,1);*/
}

.bl{
	padding: 5px 10px;
	border:1px solid #ddd;
	background: rgba(131,50,58,0.7);
	border-radius: 5px;
	margin: auto; /*если поставить auto, то блоки выровняются по центру по вертикале и по горизонтале*/
	height: auto;
  width: auto;
  text-align: center;
  font-size: 20px;
}

.main .bl:hover{ /*псевдокласс для замены цвета при наведении*/
	color: #FF6A00;
	cursor:pointer
}

.block_all_star{
	display: flex;/*применяется Flexbox*/
	flex-direction: row;
  border:1px solid #ddd;
  text-align: center;
	border-radius: 3px;
}

.block_star{ /*псевдокласс для замены цвета при наведении*/
	background-color: black;
	cursor:pointer;
	transition: 0.3s;
}
.block_all_star .block_star:hover{ /*псевдокласс для замены цвета при наведении*/
	background-color: orange;
	cursor:pointer;
	 transform: scale(1.2); /* Увеличиваем масштаб */
}


/*Конец Стили для основного контента*/

/*Стили для блока NEWS*/
.news {
	width: 960px;/*ширина общая для блока*/
  height: auto;/*высота блока*/
  margin: 30px auto;/*отступ сверху и автоматически по другим частям*/
	border: 1px solid black;/*окантовка*/
	padding: 10px 10px 20px 10px;/*внутренний отступ*/
	background: rgba(243,224,255,0.3);/*цвет*/
	border-radius: 10px;/*закругление элемента*/
  flex-wrap: wrap;/*/*переносить на новый ряд*/
}

.newDiv_news_block_top{/*верхний блок с кнопкой*/
	width: auto;
	height: auto;

	margin: 10px 40px 0px 40px;
}

.newDiv_news_block_bottom{/*нижний блок с кнопкой*/
	width: auto;
	height: auto;
	background: white;
	margin: 10px 40px auto;
	padding: 10px 10px 20px 10px;/*внутренний отступ*/
}

.newDiv_news_block_top_сlose{/*кнопка с Х*/
	width: 20px;
	height: 20px;
	float:right;
	font-size: 20px;
	color: white;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	border: 2px solid black;/*окантовка*/
	border-radius: 5px;/*закругление элемента*/
}
/*Конец Стили для блока news*/


/*Начало Стили для ФУТЕРА*/
.nav_footer{/*ul блок*/
 display:flex;/*выстраиваем элемент, чтобы внутри работал технология flex-box*/
 list-style-type: none; /*убираем стандартный стиль ul элемента(проподают точки)*/
 padding-left: 0;/*убираем внутренний стандартный отступ*/
 font-weight: 700;/*задаём размер шрифта*/
 text-transform: uppercase;/*все буквы становятся заглавными*/
 margin-bottom: 86px;/*удаляем отступы снизу*/
 margin-right: 15px;/*удаляем отступы снизу*/
}

.nav_footer li{/*li блок*/
	padding-left: 23px;/*внутренний отступ*/
	margin-left: 22px;/*внешний оступ*/
	position: relative;/*Относительное позиционирование сдвигает элемент относительно его обычного положения.*/
}

.nav_footer li:first-child{/*находит любой элемент, являющийся первым в своём родителе и сбрасываем отступы*/
	padding-left: 0;/*внутренний отступ*/
	margin-left: 0;/*внешний оступ*/
}

.nav_footer li::before{/*создаёт псевдоэлемент(вертикаль), который является первым потомком выбранного элемента*/
 content: "";/*используется для добавления косметического содержимого в элемент с помощью свойства content*/
 width: 2px;/*ширина*/
 height: 100%;/*высота*/
 background-color: #FFFFFF;/*цвет фона*/
 display: block;/*Элемент показывается как блочный.*/
 position:absolute;/*расположен относительно его ближайшего относительно позиционированного предка*/
 left: 0;/*сдвигаем относительно предка*/
}

.nav_footer li:first-child::before{/*находит любой элемент(вертикаль), являющийся первым в своём родителе.*/
 display: none;/*не показываем элемент*/
}

.nav_footer li a{
	text-decoration: none;/*убираем подчеркивание ссылок а*/
	color: #FFFFFF;/*цвет ссылки*/
}
.nav_footer li a:hover{ /*псевдокласс для замены цветы при наведении*/

 color: #FFB200;
}
.nav_footer li a{
   text-decoration: none;/*убираем подчеркивание ссылок а*/
   color: #FFFFFF;/*цвет ссылки*/
 }
.nav_footer li a:hover{ /*псевдокласс для замены цветы при наведении*/

	color: #FFB200;
}
.nav_footer li::before{/*создаёт псевдоэлемент(вертикаль), который является первым потомком выбранного элемента*/
  content: "";/*используется для добавления косметического содержимого в элемент с помощью свойства content*/
  width: 2px;/*ширина*/
  height: 100%;/*высота*/
  background-color: #FFFFFF;/*цвет фона*/
  display: block;/*Элемент показывается как блочный.*/
  position:absolute;/*расположен относительно его ближайшего относительно позиционированного предка*/
  left: 0;/*сдвигаем относительно предка*/
}
/*Конец Стили для ФУТЕРА*/
